{% extends "base.html" %}

{% block content %}
<h1 style="font-size: 22px;">
    Welcome to your Trivia Game {{ username }}!
</h1>
<div class="q&a">
    <form action="/trivia/" method="GET">
        <h11> Question from: </h11>
        <p name="category" id="category"> {{ question.category }} - category</p>
        <p name="difficulty" id="difficulty">Difficulty: {{ question.difficulty }}</p>
        <p>There is yours question</p>
        <p name="question" id="question">{{ question.question }} </p>
    </form>
    <form action="/trivia/true" method="POST">
        <button name="true">True</button>
        <button name="false">False</button>
    </form>
</div>
{% endblock %}